
*.log
*.jou
*.xpr
*.lpr
*.xml
*.wpc
*.wdf
*.txt
*.bat
*.v
*.tcl
*.wdb
*.prj
*.pb
*.btree
*.info
*.html
*.dbg
*.mem
*.reloc
*.rtti
*.svtype
*.type
*.xdbg
*.exe
*.sdb
*.rlx
*.ini
*.rst
*.js
*.sh
*.bit
*.vdi
*.rpt
*.dcp
*.rpx
*.vds
project_1/project_1.runs/synth_1/.Xil/top_propImpl.xdc
